[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
alembic = "*"
Flask = "*"
SQLAlchemy = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"

[dev-packages]

[requires]
python_version = "3.8"
